[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urwid = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.8"

[scripts]
ipy = "ipython"
utf = "python src/utf-8.py"
hello = "python src/hello.py"
key = "python src/keypress.py"
attr = "python src/attribute.py"
